* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
hr{
   margin:10px 2px 30px 1px;
   padding: 3px;
    background-color:white;
    background: linear-gradient(0deg, rgba(33,148,6,1) 0%, rgba(49,150,9,1) 7%, rgba(53,151,10,1) 7%, rgba(15,112,155,1) 19%, rgba(99,74,135,1) 35%, rgba(165,41,27,1) 55%, rgba(202,136,35,1) 79%, rgba(253,181,45,1) 100%);
    }
.second-text{
    font-family: Visby CF,Sans-serif;
} 
.image{
    width: 200px;
    height: 200px;
}
